html {
    background-color: whitesmoke;
    position: relative;
    overflow: hidden;
    height: 100%;
}

body {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

img {
    display: block;
    max-height: 500px;
    max-width: 1000px;
    height: auto;
    width: auto;
}

a:link {
    color: cornflowerblue;
    text-decoration: none;
}

a:visited {
    color: cornflowerblue;
    text-decoration: none;
}

a:hover {
    color: dodgerblue;
    text-decoration: none;
}

.site-header {
    padding-top: 10px;
    padding-bottom: 10px;
}

.submission {
    padding-bottom: 10px;
}

.information {
    padding-top: 10px;
}